<main>

    <div id="textoBlanco" class="jumbotron">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{this.tarea.asignatura.nombre}}</h1>
                <h3 class="fino">
                    {{this.tarea.asignatura.cursogrado.curso.numCurso}}º
                    {{this.tarea.asignatura.cursogrado.grado.nombre}}
                </h3>
                <h3 class="fino">
                    {{this.tarea.asignatura.profesor.nombre}} {{this.profesor.primerApellido}}
                </h3>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="card">
            <h5 id="header" class="card-header">{{this.tarea.nombre}}</h5>
            <div class="card-body">
                <p class="card-text">{{this.tarea.descripcion}}</p>
            </div>
            <app-subida-archivos [tarea]="this.tarea"></app-subida-archivos>
            <!-- <div class="row">
                <div class="col-12">
                    <a [routerLink]="['/aula/', this.tarea.asignatura.idAsignatura]" class="btn btn-outline-danger"
                        routerLinkActive="router-link-active" role="button" (click)="borrarTarea(this.tarea)">Borrar tarea</a>
                </div>
            </div> -->
        </div>
    </div>
</main>