@import "../../../styles.scss";

.jumbotron {
    padding-top: 40px;
    color: $gris !important;
    text-align: center;
    max-height: 220px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba($color: #2c3e50, $alpha: 1);
}

#header {
    font-weight: bold;
}