<div class="addContenido">

  <h4>Nuevo contenido</h4>

  <form>

    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" class="form-control" id="titulo" [(ngModel)]="nombre" name="titulo">
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <textarea name="descripcion" id="inputdescripcion" class="form-control" rows="3"
        [(ngModel)]="descripcion"></textarea>
    </div>

    <div class="btn-group btn-group-md row mx-auto" style="width: 100%">

      <div class="col-12" style="display: flex; justify-items: end;">
        <button class="btn btn-outline-success ml-auto" (click)="save()">Crear</button>
      </div>
    </div>
  </form>

</div>
