<main class="slide-in-bottom p">
  <div id="mostrar" *ngIf="!cargado">
    <div id="textoBlanco" class="jumbotron">
      <div class="row">
        <div class="col-12 text-center">
          <h1>{{this.usuarioActual.nombre}} {{this.usuarioActual.primerapellido}} {{this.usuarioActual.segundoapellido}}
          </h1>
          <h3 class="fino">
            {{this.usuarioActual.cursogrado.curso.numCurso}}º {{this.usuarioActual.cursogrado.grado.nombre}}
          </h3>
        </div>
      </div>
    </div>

    <div class="container-fluid" >
      <div id="paneles" class="row">
        <div class="col">
          <!-- Primera columna -->
          <div id="horario" class="card bg-light">
            <div id="textoAzul" class="card-header" >{{hoy}}</div>
            <div class="card-body">
              <div class="row">
                <div id="horariotitulo" class="col md-4">HORARIO DE HOY</div>
              </div>
              <div id="fila1" class="row">
                <div id="hora" class="col md-4">{{primeraClase}}</div>
                <div id="asig" class="col md-4">{{asignatura1}}</div>
                <div id="aula" class="col md-4">{{aula2}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="hora" class="col md-4">{{segundaClase}}</div>
                <div id="asig" class="col md-4">{{asignatura1}}</div>
                <div id="aula" class="col md-4">{{aula2}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="hora" class="col md-4">{{terceraClase}}</div>
                <div id="asig" class="col md-4">{{asignatura1}}</div>
                <div id="aula" class="col md-4">{{aula2}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="hora" class="col md-4">{{cuartaClase}}</div>
                <div id="asig" class="col md-4">{{asignatura2}}</div>
                <div id="aula" class="col md-4">{{aula1}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="hora" class="col md-4">{{quintaClase}}</div>
                <div id="asig" class="col md-4">{{asignatura2}}</div>
                <div id="aula" class="col md-4">{{aula1}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="hora" class="col md-4">{{sextaClase}}</div>
                <div id="asig" class="col md-4">{{asignatura2}}</div>
                <div id="aula" class="col md-4">{{aula1}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="hora" class="col md-4">{{septimaClase}}</div>
                <div id="asig" class="col md-4">{{asignatura3}}</div>
                <div id="aula" class="col md-4">{{aula1}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="hora" class="col md-4">{{octavaClase}}</div>
                <div id="asig" class="col md-4">{{asignatura3}}</div>
                <div id="aula" class="col md-4">{{aula1}}</div>
              </div>
            </div>

            <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="right" title=""
              data-original-title="Ver calendario" (click)="errorFuncionalidad()">Calendario</button>
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="right" title=""
              data-original-title="Ver horario de toda la semana" (click)="errorFuncionalidad()">Horario</button>
          </div>
        </div>

        <div class="col">

          <!-- Segunda columna -->
          <div id="mensajeria" class="card bg-light mb-4">
            <div id="textoRojo" class="card-header">Mensajería Interna</div>
            <div class="card-body">
              <div class="row">
                <div id="fecha" class="col md-4">{{fecha1}}</div>
                <div id="asunto" class="col md-4">{{asunto1}}</div>
                <div id="remitente" class="col md-4">{{remitente1}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="fecha" class="col md-4">{{fecha2}}</div>
                <div id="asunto" class="col md-4">{{asunto2}}</div>
                <div id="remitente" class="col md-4">{{remitente2}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="fecha" class="col md-4">{{fecha3}}</div>
                <div id="asunto" class="col md-4">{{asunto3}}</div>
                <div id="remitente" class="col md-4">{{remitente3}}</div>
              </div>

            </div>
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="right" title=""
              data-original-title="Ver todos los mensajes" (click)="errorFuncionalidad()">Ver</button>

          </div>

          <div id="notas" class="card bg-light mb-4">
            <div id="textoRojo" class="card-header"> Últimas notas</div>
            <div class="card-body">
              <div class="row">
                <div id="asig" class="col md-4">{{asignatura1}}</div>
                <div id="tema" class="col md-4">{{tema2}}</div>
                <div id="nota" class="col md-4">1</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="asig" class="col md-4">{{asignatura3}}</div>
                <div id="tema" class="col md-4">{{tema2}}</div>
                <div id="nota" class="col md-4">1</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="asig" class="col md-4">{{asignatura2}}</div>
                <div id="tema" class="col md-4">{{tema2}}</div>
                <div id="nota" class="col md-4">1</div>
              </div>
              <hr id="hr">
            </div>
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="right" title=""
              data-original-title="Ver todas las notas" (click)="errorFuncionalidad()">Ver</button>

          </div>
        </div>

        <!-- Tercera columna -->
        <div class="col">

          <div id="info" class="card bg-light mb-4">
            <div id="textoAzul" class="card-header">Datos de Contacto</div>
            <div class="card-body">
              <div class="row">
                <div id="contactCol1" class="col mb-6">Teléfono</div>
                <div id="contactCol2" class="col mb-6">{{this.usuarioActual.telefonomovil}}</div>
              </div>
              <hr class="hr">
              <div class="row">
                <div id="contactCol1" class="col mb-6">Email</div>
                <div id="contactCol2" class="col mb-6">{{this.usuarioActual.email}}</div>
              </div>
              <hr class="hr">
              <div class="row">
                <div id="contactCol1" class="col mb-6">Contraseña</div>
                <div id="contactCol2" class="col mb-6"></div>
              </div>

            </div>
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="right" title=""
              data-original-title="Editar informacion de contacto" (click)="errorFuncionalidad()">Editar</button>
          </div>


          <div id="incidencias" class="card bg-light mb-4">
            <div id="textoRojo" class="card-header">Incidencias</div>
            <div class="card-body">
              <div class="row">
                <div id="incidenciascol1" class="col md-8">Retrasos</div>
                <div id="incidenciascol2" class="col md-4">{{numRetrasos}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="incidenciascol1" class="col md-8">Ausencias</div>
                <div id="incidenciascol2" class="col md-4">{{numAusencias}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="incidenciascol1" class="col md-8">Partes</div>
                <div id="incidenciascol2" class="col md-4">{{numPartes}}</div>
              </div>
              <hr id="hr">
              <div class="row">
                <div id="incidenciascol1" class="col sm-1">Expulsiones</div>
                <div id="incidenciascol2" class="col sm-4">{{numExpulsiones}}</div>
              </div>

            </div>
            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="right" title=""
              data-original-title="Ver todas las incidencias" (click)="errorFuncionalidad()">Ver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>