<div class="container">

  <div class="row">

    <div class="col-md-6">

      <h3>¿Añadimos algo más?</h3>

      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader" class="well my-drop-zone">
        Tiro libre de archivos
      </div>

      O pásalos en mano
      <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />

    </div>

    <div class="col-md-6" style="margin-bottom: 40px">

      <h3>Lista de archivos a subir</h3>
      <p>En cola: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Nombre</th>
            <th>Tamaño</th>
            <th>Progreso</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td nowrap>{{ item?.file?.size/1024 | number:'.1' }} KB</td>
            <td>
              <div class="progress" style="margin-bottom: 0;">
                 
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">{{ item.progress + '%'}}</div>
              </div>
            </td>
            <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="far fa-check-circle"></i></span>
                <span *ngIf="item.isCancel"><i class="fas fa-times"></i></span>
                <span *ngIf="item.isError"><i class="fas fa-exclamation-triangle"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Subir
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Quitar
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          <br>
          <br>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">{{uploader.progress + '%'}}</div>
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Subir todo
        </button>
        <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
          [disabled]="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancelar todo
        </button>
        <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
          [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Borrar lista
        </button>
      </div>

    </div>

  </div>

</div>