//@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");
@import "../../../../styles.scss";

.btnNav:hover {
  cursor: pointer;
}

.botonNavegacion {
  position: fixed;
  top: 3%;
  left: 3%;
  z-index: 1000;
}

.menuHamburguer {
  display: block;
  text-align: center;
  border-radius: 50%;
  border: 2px solid ;
  border-color: #fff;
  width: 50px;
  height: 50px;
  background-color: rgba($color: #000000, $alpha: 0);
  position: relative;
  & > * {
    position: absolute;
    top: 35%;
    right: 35%;
    color: #fff;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $primario;
  overflow-y: hidden;
  transition: 0.5s;
  color: $cuaternario;

  & a {
    color: $cuaternario;
    padding: 8px;
    text-decoration: none;
    //font-size: 36px;
    display: block;
    transition: 0.3s;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, $terciario 50%, transparent 50%);
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;

    &:hover,
    &:focus {
      background-image: linear-gradient(to top, $terciario 51%, transparent 50%);
      background-position: 0 100%;
      transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    }
  }

  & .closebtn {
    position: absolute;
    font-size: 30px;
    top: 3%;
    left: 3%;
    transition: all 0.8s ease-in-out;

    &:hover {
      transform: rotate(360deg);
      color: $terciario;
    }
  }
}

.overlay-content {
  height: 100%;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  overflow: hidden;

  & > .row {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
