<div class="botonNavegacion">
  <!-- The overlay -->
  <div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <div class="closebtn btnNav" onclick="closeNav()"><i class="fas fa-times"></i></div>

    <!-- Overlay content -->
    <div class="container-fluid overlay-content">
      <div class="row">
        <div class="col-4">
          <h2>2º DAM CES JUAN PABLO II</h2>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <a [routerLink]="['/inicio']" routerLinkActive="router-link-active" onclick="closeNav()">Panel Principal</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#" onclick="closeNav()" [routerLink]="['/login']" routerLinkActive="router-link-active">Cerrar sesión</a>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row">
            <div class="col-12">
              <a href="#">Boletines de notas</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#">Calendario</a>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row" *ngFor="let asig of asignaturas">
            <div class="col-12">
              <a [routerLink]="['aula/', this.asig.idAsignatura]" routerLinkActive="router-link-active" onclick="closeNav()">{{asig.nombre}}</a>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-12">
              <a href="/aula">PSP</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#">PMDM</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#">SGE</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#">EIE</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#">Inglés</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#">ECEM</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#">Interfaces</a>
            </div>
          </div> -->
        </div>
        <div class="col-2">
          <img src="../../../../assets/img/logo.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Use any element to open/show the overlay navigation menu -->
  <span onclick="openNav()" class="menuHamburguer btnNav"><i class="fas fa-bars"></i></span>
</div>