<main>
  <video autoplay muted loop id="myVideo">
    <source src="../../../assets/videos/bg_login.2.mp4" type="video/mp4">
  </video>

  <div class="container-fluid contenedorLogin">
    <div class="row">
      <div class="col-12">
        <form class="swirl-in-fwd">
          <!-- logo section -->
          <div class="logo"><img src="../../../assets/img/logo.png" alt="" width="35px"></div>
          <!--  user name section -->
          <div class="user-name">
            <label for="user">Email</label>
            <div class="container-1">
              <i class="fa fa-user user" aria-hidden="true"></i>
              <input type="text" id="user" placeholder="Escribe tu email">
            </div>
          </div><!--  end user name section -->
          <!--    password section       -->
          <div class="password">
            <label for="password">Clave</label>
            <div class="container-1">
              <i class="fa fa-lock lock" aria-hidden="true"></i>
              <input type="password" id="password" placeholder="Clave de acceso">
              <a (click)="errorFuncionalidad()"><i class="fas fa-question-circle"></i>Ayuda</a>
            </div>
          </div><!-- end password section -->
          <!-- sign section -->
          <div class="sign">
            <button [routerLink]="['/inicio']" routerLinkActive="router-link-active">Iniciar sesión</button>
          </div><!-- end sign section -->
          <div class="container-2">
            <div class="balls"></div>
            <div class="balls"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>