@import "../../../../styles.scss";

.jumbotron {
  padding-top: 40px;
  color: $gris !important;
  text-align: center;
  max-height: 220px;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(231, 76, 60, 0.9);
}

.card-header {
  text-align: center;
}

.nav-link {
  color: rgb(236, 240, 241);
}

#imagenPanel {
  width: 25%;
}

.container-fluid {
  padding-top: 0px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 10%;
}

#mensajeria {
  height: 47.7%;
}

#notas {
  height: 47.7%;
  & > .card-body {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}

#incidencias {
  height: 47.7%;
  & > .card-body {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}

#calendario {
  height: 47.7%;

  & > .card-body {
    display: flex;

    justify-content: center;
    align-items: center;
  }
}

#textoAzul {
  color: rgb(52, 152, 219);
  font-weight: bold;
  text-align: center;
}

#textoBlanco {
  color: rgb(236, 240, 241);
}

#textoGris {
  margin-top: 0px;
  color: rgb(145, 145, 145);
  text-align: center;
}

#textoRojo {
  color: rgb(231, 76, 60);
  font-weight: bold;
}

#asig {
  text-align: center;
  font-weight: bold;
}

#aula {
  text-align: right;
}

.btn-warning {
  margin: 1%;
  background-color: rgba(255, 25, 0, 0.459);
  color: white;
  border-color: red;
}

.btn-info {
  margin: 1%;
  background-color: rgb(103, 156, 192);
}

#hr {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#contactCol1 {
  text-align: left;
  font-weight: bold;
}

#contactCol2 {
  text-align: right;
}

#horario {
  min-height: 100%;
}

#fila1 {
  padding-top: 0%;
}

#horariotitulo {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10%;
  text-decoration-line: underline;
  color: rgb(52, 152, 219);
}

#fecha {
  text-align: left;
}

#asunto {
  text-align: center;
}

#remitente {
  text-align: right;
}

#tema {
  text-align: center;
}

#nota {
  font-weight: bold;
  text-align: center;
}
