@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap');
// COLORES
$primario: #2c3e50;
$secundario: #3498db;
$terciario: #e74c3c;
$cuaternario: #ecf0f1;

$secundario-darker: #2980b9;

$gris: #555;

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: $cuaternario;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 300; 
    letter-spacing: 2px;
    color: rgb(236, 240, 241);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400; 

    &.fino {
        font-weight: 100;
        color: rgb(236, 240, 241);
    }
}

.imgPerfil {
    width: 6%;
}