@import "../../../styles.scss";

.jumbotron {
  padding-top: 40px;
  color: $gris !important;
  text-align: center;
  max-height: 220px;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba($color: #2c3e50, $alpha: 1);
}

.card-header {
  font-weight: bold;
}

#menuAsig {
  margin-top: 50%;
  margin-left: 15%;
  width: 100%;
}

.registros {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
}

/*
#btn {
    background-color: white;
    color: rgb(52, 152, 219);
    border-color: rgb(52, 152, 219);
}*/

#accordionExample >* .col-12{
    display: flex;
    justify-content: center;
}
