<main>
  
    <div id="textoBlanco" class="jumbotron">
      <div class="row">
        <div class="col-12 text-center">
          <h1>{{this.asignatura.nombre}}</h1>
          <h3 class="fino">
            1º DAM
          </h3>
          <h3 class="fino">
            {{this.profesor.nombre}} {{this.profesor.primerApellido}}
          </h3>
        </div>
      </div>
    </div>

  <div class="container-fluid">
    <div id="paneles" class="row">
      <div class="col-2">
        <!-- Primera columna -->
        <div id='menuAsig' class="card text-center">
          <h5 class="card-header">{{this.asignatura.nombre}}</h5>
          <div class="card-body">
            <h6>Próximas entregas</h6>

            <div class="row">

              <div class="col-6">
                <hr>
                <a href="#" id="btn" class="btn btn-outline-info">Ver horario</a>
              </div>
              <div class="col-6">
                <hr>
                <a href="#" id="btn" class="btn btn-outline-danger">Ver notas</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <!-- Segunda columna -->
        <div class="registros row addContenido">
          <div class="col-12">
            <div class="accordion" id="accordionExample">
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-info " type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                    Crear contenido
                  </button>
                </div>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <app-nuevocontenido [asignatura]="this.asignatura"></app-nuevocontenido>
                </div>
              </div>
            </div>

          </div>



        </div>
        <div class="card registros" *ngFor="let tarea of tareas">
          <h5 class="card-header">Tarea</h5>
          <div class="card-body">
            <h5 class="card-title">{{tarea.nombre}}</h5>
            <p class="card-text">{{tarea.descripcion}}</p>
            <p>{{tarea.fechaLimite | date:'fullDate'}}</p>
            <a [routerLink]="['tarea/', tarea.idTarea]" routerLinkActive="router-link-active" id="btn"
              class="btn btn-outline-danger btn-block">Detalle</a>
          </div>
        </div>
        <div class="card registros ">
          <h5 class="card-header">{{registro4}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{titulo4}}</h5>
            <p class="card-text">{{cuerpo4}}</p>
            <a href="#" id="btn" class="btn">Detalle</a>
          </div>
        </div>
        <div class="card registros">
          <h5 class="card-header">{{registro3}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{titulo3}}</h5>
            <p class="card-text">{{cuerpo3}}</p>
            <a [routerLink]="['tarea/1']" routerLinkActive="router-link-active" id="btn" class="btn">Detalle</a>
          </div>
        </div>
        <div class="card registros">
          <h5 class="card-header">{{registro2}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{titulo2}}</h5>
            <p class="card-text">{{cuerpo2}}</p>
            <a href="#" id="btn" class="btn">Detalle</a>
          </div>
        </div>
        <div class="card registros">
          <h5 class="card-header">{{registro1}}</h5>
          <div class="card-body">
            <h5 class="card-title">{{titulo1}}</h5>
            <p class="card-text">{{cuerpo1}}</p>
            <a href="#" id="btn" class="btn">Detalle</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>